# The IP to listen to. Use 0.0.0.0 if you wish to listen to all interfaces on your server. (All IP addresses)
# This defaults to the IP you have configured your server to listen on, or 0.0.0.0 if you have not configured this.
host: 0.0.0.0

# Port to listen for new votes on
port: 8192

# Whether or not to print debug messages. In a production system, this should be set to false.
# This is useful when initially setting up NuVotifier to ensure votes are being delivered.
debug: false

# All tokens, labeled by the serviceName of each server list.
tokens:
  # Default token for all server lists, if another isn't supplied.
  default: %default_token%

# Setting this option to true will disable handling of Protocol v1 packets. While the old protocol is not secure, this
# option is currently not recommended as most voting sites only support the old protocol at present.
disable-v1-protocol: false

# Configuration section for all vote forwarding to NuVotifier
forwarding:
  # Sets whether to set up a remote method for fowarding. Supported methods:
  # - none - Does not set up a forwarding method.
  # - pluginMessaging - Sets up plugin messaging.
  # - proxy - Proxies votes to other NuVotifier servers from this server.
  method: none
  pluginMessaging:
    channel: NuVotifier

    #Only send votes to certain servers. If a server is present on excludedServers, then votes will NOT be forwarded
    #to them. If excludedServers is not present, votes will be sent to all servers.
    #If onlySendToJoinedServer is true, this option is ignored.

    #excludedServers:
    #- server1
    #- server2


    # Sets which cache to use if there are no players on the server that the vote is being sent to. Supported caches:
    # - none - Votes will simply be lost when no players are present on the server.
    # - memory - Votes will be cached in memory when no players are present. When Bungee is restarted, the votes will be lost.
    #   This method is NOT recommended for production systems!
    # - file - Votes will be saved to a local file every 3 minutes and on shutdown and reloaded when Bungee is restarted. This is suitable for
    #   most set ups.
    cache: file
    # Only sends the vote to the server in which the player is currently joined.
    onlySendToJoinedServer: false
    #Sets which server to send the vote in the event the player is not online when the vote is cast
    #If you do not want the vote forwarded to a fallback, set this value to empty ('')
    #ONLY USED IF onlySendToJoinedServer is true!!
    joinedServerFallback: 'Hub'
    # Options for file caching.
    file:
      name: cached-votes.json
      # days before a vote is considered 'dead' - removed from cache with a console warning
      voteTTL: 10
  # Specify servers to proxy votes for.
  proxy:
    Hub:
      address: 127.0.0.1
      port: 8193
      token: MyKeyHere
    Hub2:
      address: 127.0.0.1
      port: 8194
      token: AnotherKeyHere